#logo{
	font-size: 120px;
	text-align: center;
}

#counter{
	font-size: 40px;
	text-align: center;
}

.doggies{
	float:left;
	width:32%;
	
}

.kitties{
	float:left;
	width:32%;
	
}

.boots{
	float:left;
	width:32%;
	
}


#credit{
	font-size: 20px;
	text-align: left;
	float: bottom;
}

body div { 
    
}

