#logo{
	font-size: 120px;
	text-align: center;
}

#counter{
	font-size: 30px;
	text-align: center;
}

.categories{
	display: inline-block;
	font-size: 20px;
	text-align: left;
	/*float: left;*/
}

#credit{
	font-size: 20px;
	text-align: left;
	float: bottom;
}
#fishies{
	style.display: "none";
}
