#logo{
	font-size: 120px;
	text-align: center;
}

#counter{
	font-size: 30px;
	text-align: center;
}

#whole{

}

#doggies{

}

#kitties{

}

#boots{
	
}

#fishies{
	display: none;
}

#credit{
	font-size: 20px;
	text-align: left;
	float: bottom;
}


